*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: "karantina";
    src: url(font/Karantina-Regular.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(font/Roboto-Regular.ttf);
}

body{
    background-color: #19191b;
}

.header{
    width: 1440px;
    height: 100px;
    display: block;
    background-color: #000000;

}

.logo-header{
    width: 80px;
    position: absolute;
    right: 680px;
    left: 680px;
    top: 10px;

}

.animation{
    position: absolute;
    left: 540px;
    top: 42px;

}

.horror-fest{
    position: absolute;
    left: 780px;
    top: 42px;

}

.simbolo-menu{
    position: absolute;
    left: 25px;
    top: 35px;

}

.linea-divisoria-1-white{
    height: 2px;
    position: absolute;
    top: 100px;

}

.nav{
    height: 100px;
    display: grid;

}

.nav span{
    color: #ffffff;
    font-size: 2.5rem;
    font-family: roboto;

}

.nav span{
    color: #ffffff;
    font-size: 2.5rem;
    font-family: roboto;

}








.menu{
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: 300ms ease-in-out;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 25px;


}

.bar{
    height: 6px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: 200ms ease-in-out;

}

.menu.active .bar:nth-last-child(1){
    transform: translateY(-11px) rotate(-45deg);

}

.menu.active .bar:nth-last-child(2){
    opacity: 0;

}

.menu.active .bar:nth-last-child(3){
    transform: translateY(11px) rotate(45deg);

}

.menu-desplegable{
    height: 323px;
    width: 275px;
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: #ffffff;
    display: grid;
    transform: translateX(100vw);
    z-index: 1;

}

.click{
    transform: translateX(0vw);

}

.boton-menu-inicio{
    height: 72px;
    width: 245px;
    padding: 15px;
    background: #ffffff;
    border: none;
    position: absolute;
    top: 10px;
    left: 15px;

}

.boton-menu-inicio{
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

.boton-menu-inicio:hover{
    background-color: #dfdfdf;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

.boton-menu-inicio:active{
    background-color: #b7b7b7;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

.boton-menu-sesiones{
    height: 72px;
    width: 245px;
    padding: 15px;
    background: #ffffff;
    border: none;
    position: absolute;
    top: 87px;
    left: 15px;

}

.boton-menu-sesiones{
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

.boton-menu-sesiones:active{
    background-color: #b7b7b7;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}
.boton-menu-sesiones:hover{
    background-color: #dfdfdf;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

.boton-menu-festival{
    height: 72px;
    width: 245px;
    padding: 15px;
    background: #ffffff;
    border: none;
    position: absolute;
    top: 164px;
    left: 15px;

}

.boton-menu-festival{
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

.boton-menu-festival:active{
    background-color: #b7b7b7;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

.boton-menu-festival:hover{
    background-color: #dfdfdf;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

.boton-menu-contacto{
    height: 72px;
    width: 245px;
    padding: 15px;
    background: #ffffff;
    border: none;
    position: absolute;
    top: 241px;
    left: 15px;

}

.boton-menu-contacto{
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

.boton-menu-contacto:active{
    background-color: #b7b7b7;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

.boton-menu-contacto:hover{
    background-color: #dfdfdf;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-family: roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}





.dudas{
    width: 1339px;
    height: 299px;
    position: absolute;
    top: 126px;
    left: 50.5px;

}

.dudas h1{
    color: #ffffff;
    font-family: karantina;
    font-size: 170px;
    font-weight: 400;
    line-height: normal;

}

.dudas h1{
    position: absolute;

}

.dudas h2{
    color: #ffffff;
    font-family: karantina;
    font-size: 120px;
    font-weight: 400;
    line-height: normal;

}

.dudas h2{
    position: absolute;
    right: 0px;
    top: 176px;

}

.contacto{
    height: 903px;
    width: 1289px;
    position: absolute;
    top: 511px;
    left: 75.5px;

}

.informacion-contacto{
    height: 903px;
    width: 649px;
    position: absolute;

}

.correo-electronico{
    height: 100px;
    width: 481px;
    position: absolute;

}

.correo-electronico h1{
    color: #767676;
    font-family: karantina;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;

}

.correo-electronico h1{
    position: absolute;

}

.correo-electronico h2{
    color: #da460b;
    font-family: roboto;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;

}

.correo-electronico h2{
    position: absolute;
    top: 58px;

}

.telefono{
    height: 100px;
    width: 178px;
    position: absolute;

}

.telefono h1{
    color: #767676;
    font-family: karantina;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;

}

.telefono h1{
    position: absolute;
    top: 119px;

}

.telefono h2{
    color: #da460b;
    font-family: roboto;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;

}

.telefono h2{
    position: absolute;
    top: 177px;

}

.redes-sociales{
    height: 117px;
    width: 356px;
    position: absolute;

}

.redes-sociales h1{
    color: #767676;
    font-family: karantina;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;

}

.redes-sociales h1{
    position: absolute;
    top: 238px;

}

.facebook{
    width: 48px;
    height: 48px;
    background-color: #19191b;
    border: none;
    position: absolute;
    top: 296px;

}

.instagram{
    position: absolute;
    top: 296px;
    left: 72.5px;

}
.twitter{
    position: absolute;
    top: 296px;
    left: 150.5px;

}

.linkedin{
    position: absolute;
    top: 296px;
    left: 228.5px;

}

.youtube{
    position: absolute;
    top: 296px;
    left: 306.5px;

}

.direccion{
    height: 509px;
    width: 651px;
    position: absolute;

}

.direccion h1{
    color: #767676;
    font-family: karantina;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;

}

.direccion h1{
    position: absolute;
    top: 370px;

}

.direccion h2{
    color: #767676;
    font-family: roboto;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;

}
.direccion h2{
    position: absolute;
    top: 428px;
    left: 65px;

}

.indicador-direccion{
    position: absolute;
    top: 428px;

}

.mapa{
    position: absolute;
    top: 536px;
    left: 49.5px;

}

.solicitar-informacion{
    height: 686px;
    width: 550px;
    position: absolute;
    right: 0px;

}

.campo-nombre{
    width: 550px;
    height: 60px;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    position: absolute;
    border-radius: 5px;
    font-family: roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;

}

.campo-apellidos{
    width: 550px;
    height: 60px;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    position: absolute;
    top: 90px;
    border-radius: 5px;
    font-family: roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;

}

.campo-correo-electronico{
    width: 550px;
    height: 60px;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    position: absolute;
    top: 180px;
    border-radius: 5px;
    font-family: roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;

}

.campo-telefono{
    width: 550px;
    height: 60px;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    position: absolute;
    top: 270px;
    border-radius: 5px;
    font-family: roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;

}

.campo-comentarios{
    width: 550px;
    height: 180px;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border: none;
    position: absolute;
    top: 360px;
    border-radius: 5px;
    font-family: roboto;
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;

}

.checkbox{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 584px;

}

.checkbox{
    display: inline-block;
    background: #ffffff;
    border: 3px solid #767676;
    color: #767676;
    border-radius: 5px;
    transition: 0.2s all ease;

}

.solicitar-informacion p{
    position: absolute;
    top: 584px;
    left: 25px;
    font-family: roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

}

.boton-solicitar-informacion{
    height: 75px;
    width: 215px;
    position: absolute;
    top: 634px;
    left: 167.5px;

}
.boton-solicitar-informacion{
    background-color: #da460b;
    border: none;
    border-radius: 5px;
    color: #19191b;
    text-align: center;
    font-family: karantina;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;

}

.boton-solicitar-informacion:hover{
    background-color: #a75535;
    border: none;
    border-radius: 5px;
    color: #35353a;
    text-align: center;
    font-family: karantina;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;

}

.boton-solicitar-informacion:active{
    background-color: #99330b;
    border: none;
    border-radius: 5px;
    color: #35353a;
    text-align: center;
    font-family: karantina;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;

}











.footer{
    width: 1440px;
    height: 173px;
    display: block;
    background-color: #000000;

}

.footer{
    position: absolute;
    top: 1496px;

}

.logo-footer{
    width: 120px;
    position: absolute;
    left: 28px;
    top: 26px;

}

.texto-legal{
    position: absolute;

}

.linea-divisoria-2-white{
    position: absolute;
    top: -2px;

}